:root{
   --primary-color: #60C55B;
}

#cart{
   margin-top: 7rem;
}

#cart .cart-top {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px 17px;
   background-color: #fff;
   box-shadow: 1px 1px 5px #000000;
}

#cart .cart-top p {
   margin-left: 210px;
}

#cart .cart-top p:last-child{
   margin-right: 210px;
} 

#cart .cart-details .box{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   background-color: #fff;
   padding: 14px;
   box-shadow: 1px 1px 5px #000000;
   margin-top: 2rem;
}

#cart .cart-details .box p:nth-child(2){
   margin-left: -150px;
}

#cart .cart-details .box p:nth-child(3){
   margin-right: 20px;
}

#cart .cart-details .box p:last-child{
  margin-right: 10px;
}

#cart .cart-details .box img {
   width: 70px;
   height: 40px;
   margin-left: -15px;
   border-radius: 5px;
}
#cart .cart-details input {
   width: 50px;
   padding: 5px;
   border: 1px solid #333;
   border-radius: 5px;
   margin-right: 80px;
}

.back-to-homepage { 
   position: absolute;
   right: 11.5%;
   font: bold;
   padding: 10px;
   border: 1px #000000 solid;
   margin-top: 20px;
   border-radius: 2px;
}

.box-total {
   position: relative;
   left: 70%;
   width: 30%;
   height: 210px;
   padding: 20px 10px;
   margin: 100px 0;
   border: 1px #000000 solid;
}

.box-total h2 {
   font-weight: bold;
   padding-bottom: 5px;
}

.box-total .box-details {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.box-total .box-details:nth-child(2),
.box-total .box-details:nth-child(3){
   border-bottom: 1px solid #000000;
}

.box-total .box-details p {
   padding: 5px;
}

.box-total a {
   position: absolute;
   left: 20%;
   padding: 10px 15px;
   background: var(--primary-color);
   color: #fff;
}